# SITE CONFIGURATION
baseurl: "/website_dark"
url: "https://natalieagus.github.io"

# THEME-SPECIFIC CONFIGURATION
title: 50.002 # site's title
description: "From transistors to Operating System" # used by search engines
avatar: assets/img/cpu.png # Empty for no avatar in navbar
favicon: assets/cpu.ico # Icon displayed in the tab

# Header and footer text
header_text: 50.002 Computation Structures # Change Blog header text
header_feature_image: assets/img/pexels/bgmain.jpg
footer_text: 2022 Spring

# Features
katex: true
mermaid: true
color_theme: auto

# PAGINATION
# paginate: 5
# paginate_path: "/blog/page:num"

collections:
  notes:
    output: true
    permalink: /notes/
  problemset:
    output: true
    permalink: /problemset/
  fpga:
    output: true
    permalink: /fpga/

# BUILD SETTINGS
sass:
  style: compressed
plugins: [jekyll-paginate, jekyll-seo-tag, jekyll-feed]
exclude: [".jekyll-cache", ".idea", "vendor/*", "assets/node_modules/*"]
